.noScrollBar {
     /* Oculta la barra de desplazamiento */
  scrollbar-width: none; /* Para navegadores Firefox */
  -ms-overflow-style: none; /* Para navegadores Internet Explorer/Edge */
}
.noScrollBar::-webkit-scrollbar {
    width: 0rem; /* Ancho de la barra de desplazamiento */
}
.selected-item {
  background-color: #f0f0f0; /* Cambia el fondo de la opción seleccionada */
}
.emoji {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", "EmojiSymbols", "Android Emoji", "Segoe UI Symbol", "Symbola", "Sans-Serif";
}